pandas
numpy<2.0.0
nltk

sentence_transformers 

pydash

google.ai.generativelanguage
google-auth-oauthlib

python-dotenv

chromadb

openpyxl

loguru

streamlit
grobid-client-python
beautifulsoup4
pymupdf
lxml
pysqlite3-binary